<mat-card>
    <mat-card-title>Accounts that had an issue processing</mat-card-title>
    <mat-card-subtitle>Yellow indicates there was an issue with the email address.
      <br>
      Red indicates pdf attachment was not found.
    </mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let account of listOfBillings"><button mat-flat-button (click)="onSelect(account)" [ngStyle]="{'background-color':account.ErrorType == 1 ? 'yellow' : 'red'}">{{account.ClientId}}</button></mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" (click)="onStageAccounts($event)">Stage</button>
    </mat-card-actions>
  </mat-card>
