<div fxLayout="column">
  <section fxLayout="row" fxLayoutAlign="center center" *ngIf="displayCount">
      <app-billings-count [billingsCount]="displayCount" *ngIf="countProcessStatus == 1" fxFlex="30"></app-billings-count>
      <p style="color:red" *ngIf="countProcessStatus == 2">There was an issue displaying the amount of billings needed to process. Please reload the application. If problem persists please contact the help desk.</p>
      <p style="color:red" *ngIf="countProcessStatus == 3">There was a system error. Please reload the application. If problem persists please contact the help desk.</p>
  </section>
</div>
